/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

.container {
  margin: 30px auto;
  min-height: 600px;
  border: 1px solid black;
  border-radius: 5px;
  /* max-height: 600px; */
  /* overflow: auto; */
}

/* .container-left {
  flex: 1;
  padding:10px;
  overflow: auto;
  max-height: 580px;
}
.container-right {
  padding-left: 10px;
  padding-right: 10px;
  flex: 3;
} */

.header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.task {
  background: #f4f4f4;
  margin: 5px;
  padding:7px;
  padding-left:15px;
  cursor: pointer;
  overflow: hidden;
}

.task-header {
  margin: 5px;
  padding:7px;
  padding-left:15px;
  cursor: pointer;
  overflow: hidden;
}


.new {
  height: 1px;
  border-width: 0;
  color: gray;
  background-color: gray;
  
}

.show-task {
  background: #f4f4f4;
  margin: 20px;
  padding: 20px;
  cursor: pointer;
  /* align-items: flex-start ; */
  /* overflow: auto; */
  word-wrap: break-word;
}

.task-text {
  text-overflow: ellipsis;
  font-size: larger;
  word-wrap: break-word;
}